<% layout("layouts/boilerplate") %>
<h1>Home</h1>
<p>Hi welcome to home page of yelp</p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ipsam nobis cupiditate voluptas quibusdam harum deleniti consectetur quod nisi totam. Ea laborum possimus dignissimos commodi cupiditate temporibus enim consequuntur tempora.