<% layout("layouts/boilerplate") %>
<div class="row">
    <div class="col-6 offset-3">
        <!-- Don't need email, just username and passwor -->
        <h1>Login</h1>
        <form action="http://localhost:3000/login" method="post" class="needs-validation" novalidate>
            <label class="form-label" for="username">Username: </label>
            <input class="form-control" name="username" type="text" required>
            <div class="valid-feedback">That's a valid username</div>
            <label class="form-label" for="password">Password: </label>
            <input class="form-control" name="password" type="password" required>
            <div class="valid-feedback">Password matches requirements</div>
            <button class="btn btn-success" type="submit">Login</button>
        </form>
    </div>
</div>
