<% for( let messageType of Object.keys(messages)) { %>
    <% if (messages[messageType] && messages[messageType].length) { %>
        <div class="alert alert-<%= messageType  %> alert-dismissible fade show" role="alert">
            <strong><%= messageType %></strong> <%=  messages[messageType] %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>
<% } %>