<div class="card">
    <div class="card-footer bg-dark py-6">
      YelpCamp
    </div>
    <div class="card-body">
      <h5 class="card-title">Footer</h5>
      <p class="card-text">Thanks for using YelpCamp </p>
      <a href="/camp" class="btn btn-primary">Home</a>
    </div>
  </div>